<div class="head">
    <div class="logo">
        <img src="https://zctse.esper.cloud/static/media/shoonya-logo-white.84769a53.svg" alt="">
    </div>
    <div class="menuItesms">
        <ul>
            <!-- <li><a routerLink='dashboard'>Dashboard</a> </li> -->
            <li><a routerLink='device'>Devices</a> </li>
            <li><a routerLink='deviceGroups'>Groups</a> </li>
        </ul>
        <div class="userProfile">
            <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="">
            <div class="userDetails">
                <div class="row">
                    <div class="col-12 btm-brd pb-3">
                        lalith889@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>